#overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 2;
    cursor: pointer;
  
    align-content: center;
    align-items: stretch;
    justify-content: center;
}
  
  div {
    display: flex;
    flex-wrap: wrap;
  }
  .converter-field
  {
      padding:  5px;
      min-width: 200px;
  }
  .converter-container
  {
      display: flex;
      flex-direction: column;
      align-items: center
  }
  .convert-form
  {
      display: flex;
      
  }
  .resualt
  {
      color:rgb(75, 128, 174)
  }